/* styles.css */

/* Заголовок H1 */
h1 {
    text-align: center; /* Вирівнювання по центру */
    color: red; /* Червоний колір тексту */
}

/* Стилі для текстових елементів */
i, em, span, b, strong {
    color: green; /* Зелений колір тексту */
    text-decoration: underline; /* Підкреслення тексту */
}

/* Стилі для списків */
ol, ul {
    border: 1px solid lightcoral; /* Рамка світло-коричневого кольору */
}

/* Стилі для зображень */
img {
    width: 100%; /* Ширина 100% */
    max-width: 100%; /* Максимальна ширина 100% */
}
